@page "/Eliminar_CLiente"
@page "/Eliminar_CLiente/{Id:int}"

@rendermode InteractiveServer

@inject ClientesService clientesServices
@inject NavigationManager navigationManager


<PageTitle>Eliminar Clientes</PageTitle>

<EditForm Model="@clientes" OnValidSubmit="@OnValidSubmit">

    <DataAnnotationsValidator />   <DataAnnotationsValidator />
    <a href="" class="btn btn-outline-primary">Inicio</a>

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header">
                <h3> Eliminar Cliente</h3>

                <div class=card-body>
                    <h3><strong>¿Est&aacute;s seguro de que quieres eliminar este cliente?</strong></h3>


                    @*Clientes ID*@
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
                        <h4>
                            <strong>ID:</strong>
                            @clientes.ClientesID
                        </h4>
                    </div>

                    @*Nombre*@
                    <h4>
                        <strong>Nombre: </strong>
                        @clientes.NombresClientes
                    </h4>

                    @*Telefono*@
                    <h4>
                        <strong>Tel&eacute;fono: </strong>
                        @clientes.TelefonoClientes

                    </h4>

                    @*Celular*@
                    <h4>
                        <strong>Celular: </strong>
                        @clientes.CelularClientes
                    </h4>

                    @*RNC*@
                    <h4>
                        <strong>RNC: </strong>
                        @clientes.RNC
                    </h4>

                    @*Email*@
                    <h4>
                        <strong>Email: </strong>
                        @clientes.EmailClientes
                    </h4>

                    @*Direccion*@
                    <h4>
                        <strong>Direcci&oacuten: </strong>
                        @clientes.DireccionClientes
                    </h4>

                    <div class="card-footer d-flex justify-content-center">
                        <div class="btn-group">
                            <button class="btn btn-outline-danger">@TextoBoton</button>
                            <a href="Consulta_Cliente" class="btn btn-outline-primary"><i class="bi bi-arrow-left" /> Volver</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


</EditForm>


@code {
    [Parameter] public int Id { get; set; }
    public Clientes clientes { get; set; } = new Clientes();
    string TextoBoton = string.Empty;
    string Titulo = string.Empty;

    protected override async Task OnInitializedAsync()
    {


        if (Id != 0)
        {
            clientes = await clientesServices.Buscar(Id);
            TextoBoton = "Eliminar";
            Titulo = "Eliminar Clientes";
        }
    }

    public void Nuevo()
    {
        clientes = new Clientes();
    }

    private async void OnValidSubmit()
    {
        if (Id != 0)
        {
            await clientesServices.Eliminar(clientes);
            Nuevo();
        }

        navigationManager.NavigateTo("Consulta_Cliente");
    }
}
