@page "/Consulta_Cliente"

@rendermode InteractiveServer
@inject ClientesService clientesServices
@inject NavigationManager navigationManager

<PageTitle>Consulta de Clientes</PageTitle>

<h1>Consulta de Clientes</h1>


<div>
    <a href="/Clientes">Crear Cliente</a>
</div>

<table class="table">
    @*Cabecera de la tabla cliente*@
    <thead class="table-primary">
        <tr bgcolor="skyblue">
            <th> Id Cliente</th>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Celular</th>
            <th>RNC</th>
            <th>Email</th>
            <th>Direcci&oacuten</th>
            <th> </th>
        </tr>
    </thead>

    <tbody class="table-sm">

        @if (clientes.Count == 0)
        {
            @: No existe registros
        }
        else
        {

            @*Cuerpo de la tabla*@
            @foreach (var Clientes in clientes)
            {
                <tr>
                    <td>@Clientes.ClientesID</td>
                    <td>@Clientes.NombresClientes</td>
                    <td>@Clientes.TelefonoClientes</td>
                    <td>@Clientes.CelularClientes</td>
                    <td>@Clientes.RNC</td>
                    <td>@Clientes.EmailClientes</td>
                    <td>@Clientes.DireccionClientes</td>
                    <td>
                        <a href="/Cliente/@Clientes.ClientesID"><i class="bi bi-pencil-square" /></a>
                        <a href="/Eliminar_CLiente/@Clientes.ClientesID" class="link-danger"><i class="bi bi-trash" /></a>
                    </td>
                </tr>

            }
        }
    </tbody>
</table>


@code {
    public List<Clientes> clientes { get; set; } = new List<Clientes>();
    public Clientes ClientesC { get; set; } = new Clientes();

    protected override async Task OnInitializedAsync()
    {
        clientes = await clientesServices.Listar(c => true);
    }

    public async void Buscar()
    {
        var clienteEncontrado = await clientesServices.Buscar(ClientesC.ClientesID);
        if (clienteEncontrado != null)
            ClientesC = clienteEncontrado;
        else
        {
            Nuevo();
        }
    }

    public void Nuevo()
    {
        ClientesC = new Clientes();
    }
}