@page "/Eliminar_Sistema"
@page "/Eliminar_Sistema/{Id:int}"

@rendermode InteractiveServer

@inject SistemaServices sistemaServices
@inject NavigationManager navigationManager


<PageTitle>Eliminar Clientes</PageTitle>

<EditForm Model="@sistema" OnValidSubmit="@OnValidSubmit">

    <DataAnnotationsValidator />   <DataAnnotationsValidator />
    <a href="" class="btn btn-outline-primary">Inicio</a>

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header">
                <h3> Eliminar Cliente</h3>

                <div class=card-body>

                    @*Sistema ID*@
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
                        <h2>
                            <strong>ID:</strong>
                            @sistema.SistemaId
                        </h2>
                    </div>

                    @*Nombre*@
                    <h2>
                        <strong>Nombre: </strong>
                        @sistema.SistemaNombre
                    </h2>


                    <div class="card-footer d-flex justify-content-center">
                        <div class="btn-group">
                            <button class="btn btn-outline-danger">@TextoBoton</button>
                            <a href="Consulta_Sistema" class="btn btn-outline-primary"><i class="bi bi-arrow-left" /> Volver</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


</EditForm>


@code {
    [Parameter] public int Id { get; set; }
    public Sistema sistema { get; set; } = new Sistema();
    string TextoBoton = string.Empty;
    string Titulo = string.Empty;

    protected override async Task OnInitializedAsync()
    {


        if (Id != 0)
        {
            sistema = await sistemaServices.Buscar(Id);
            TextoBoton = "Eliminar";
            Titulo = "Eliminar Cliente";
        }
        else
        {
            TextoBoton = "Crear Cliente";
            Titulo = "Nuevo Cliente";
        }
    }

    public void Nuevo()
    {
        sistema = new Sistema();
    }

    private async void OnValidSubmit()
    {


        if (Id != 0)
        {
            await sistemaServices.Eliminar(sistema);
            Nuevo();
        }

        navigationManager.NavigateTo("Consulta_Sistema");
    }
}
